.container {
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkArea p {
  margin-right: 10px;
}

label {
  margin-right: 10px;
}

.clarify {
  width:100%;
}

button {
  display: block;
  margin: auto;
}

label {
  margin-bottom: 100px;
}

.section {
  margin-bottom: 15px;
}

.gptClarification {
  margin-top: 10px;
}